{% extends "base.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to the Student Discussion Forum </h3>
                    <p class="text-light">Share your ideas and interact with each other..! &nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for row in blogs %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{row.4}}</h2>
                    <p class="card-text text-muted h6">{{row.2}} | {{row.3}} </p>
                    <p class="card-text">{{row.5 | slice:":200"}} </p>
                    <a href="{% url 'post_comment' row.0  %}" class="btn btn-primary">Read More &rarr;</a><br/><br/><br/>
                    <div id="theform" class="form-row">
                        <a href="{% url 'post_edit' row.0 %}"><button type="submit" class="btn btn-primary btn-sm mr-2">Edit</button></a>
                        <a href="{% url 'post_delete' row.0 %}"><button type="button" class="btn btn-danger btn-sm mr-2">Delete</button></a>
                        <a href="{% url 'post_report' row.0 %}"><button type="submit" id="report_btn" class="btn btn-info btn-sm mr-2">Report</button></a>      
                        <a href="{% url 'post_block' row.1 %}"><button type="button" class="btn btn-warning btn-sm mr-2">Block User</button></a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{%endblock%}